<!DOCTYPE html>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<html>
  <head>
    <title>Nambiar</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="Main_Header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">Nambiar LMS</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %> 
                <li><a href=#><%= current_user.email %></a></li> 
                <li><%= link_to "Settings", '/edit', method: "get" %></li>
                <li><%= link_to "Log out", '/logout', method: "delete" %></li> 
              <% else %> 
                <li><%= link_to "Login", '/login' %></a></li> 
                <li><%= link_to "Signup", '/signup' %></a></li> 
              <% end %>
            </ul>
          </div>
        </div>
      </nav>		

      <%= yield %>

  </body>
</html>




