<h1 style="font-size:25px;text-align:center">Courses</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
        <table class="table">
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Description</th>
            <th>link</th>
          </tr>

          <% @courses.each do|course| %>
          <tr>
             <td><%= course.code %></td>
             <td><%= course.name %></td>
             <td><%= course.description %></td>
             <td><%= link_to 'info', course_path(course) %></td>
          </tr>
          <% end %>
        </table>
        <% if current_user.teacher? %>
        <%= link_to 'New Course', new_course_path, class: "btn btn-primary btn-block" %>
        <% end %>
    </div>
  </div>
</div>
