<div class="container-fluid">
<div class="row-fluid">
  <div>
    <h1 style="font-size:25px"><%= @course.name %></h1>
    <p>
    <strong>Code:</strong>
    <%= @course.code %>
    </p>
    <p>
    <strong>Name:</strong>
    <%= @course.name %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= @course.description %>
    </p>
    <br>
    <% if current_user.teacher? %>
      <div class=" table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <th bgcolor="F2F2F2">Students</th>
            <% @course.assignments.each do |a| %>
              <th bgcolor="F2F2F2"><%= link_to a.name, assignment_path(a) %></th>
            <% end %>
          </thead>
          <tbody>
            <% @enrolled_students.each do |user| %> 
              <tr>
                <td bgcolor="F2F2F2"><%= user.username %></td>
                <% @course.assignments.each do |a| %>
                  <% user.submissions.each do |s| %>
                    <% if s.assignment == a %>
                      <% case s.status
                      when "Incomplete" %> <td class="danger"><%= link_to s.status, {:controller => "submissions", :action => "show", :submission_id => s.id} %></td>
                    <% when "Complete" %> <td class="success"><%= link_to s.status, {:controller => "submissions", :action => "show", :submission_id => s.id} %></td>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
              </tr>
            <% end %>
            <tr>
              <td bgcolor="F2F2F2">Average:</td>
              <% @course.assignments.each do |a| %>
                <% count = 0.0 %>
                <% a.submissions.each do |s| %>
                  <% if s.status == "Complete" %>
                    <% count+=1.0 %>
                  <% end %>
                <% end %>
                <% total = (count/a.submissions.size*100).floor %>
                <% case total
                when 100 %> <td class="success"><%= total %>%</td>
              <% when 50..99 %> <td class="warning"><%= total %>%</td>
              <% when 0..49 %> <td class="danger"><%= total %>%</td>
              <% end %>
            <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    <% else %>
    <%# If the user is a student %>
       <div class=" table-responsive">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <th bgcolor="F2F2F2">Assignments</th>
          <thead>
          <tbody>
            <% @course.assignments.each do |a| %>
              <th bgcolor="F2F2F2"><%= link_to a.name, assignment_path(a) %></th>
            <% end %>
          </tbody>
          </table>
        </div>
    <% end %>
    <%= link_to 'Back', root_path, class: "btn btn-default"%>
    <% if current_user.teacher? %>
      <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary"%>
      <%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure you wish to delete this course?' }, class: "btn btn-danger" %> 
      <%= link_to 'Manage Student',{:controller => "course_students", :action => "show_students", :course_id => @course.id}, class: "btn btn-primary" %>
      <%= link_to 'Create Normal Assignment', {:controller => "assignments", :action => "new", :course_id => @course.id, :assign_type => "normal"}, class: "btn btn-primary" %>
      <%= link_to 'Create Khan Assignment', {:controller => "assignments", :action => "new", :course_id => @course.id, :assign_type => "khan"}, class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>
</div>
