<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        My Courses
        <div class="pull-right">
          <% if current_user.teacher? %>
            <%= link_to 'Add a Course', new_course_path, class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </h1>        
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Enrollments</th>
              </tr>
            </thead>

            <% @courses.each do|course| %>
            <tr>
               <td><%= course.code %></td>
               <td><%= course.name %></td>
               <td><%= course.description %></td>
               <td><%= link_to 'Information', course_path(course) %></td>
            </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>
