<h1 style="font-size:25px;text-align:center"><%= @course.name %> Assignments</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <table class="table">
        <tr>
          <th>Type</th>
          <th>Assignment</th>
          <th>Due date</th>
          <th>Description</th>
          <th>View</th>
          <th>Edit</th>

        </tr>

        <% @assignments.each do |assignment| %>
          <tr>
            <% if assignment.khan_exercise %>
              <td>Khan</td>
            <% else %>
              <td>Normal</td>
            <% end %>
            <td><%= assignment.name %></td>
            <td><%= assignment.due_date %></td>
            <td><%= assignment.description %></td>
            <td><%= link_to 'View', assignment_path(assignment) %></td>
            <td><%= link_to 'Edit', edit_assignment_path(assignment.id) %></td>
          </tr>
        <% end %>
      </table>

      <%= link_to 'Create Normal Assignment', {:controller => "assignments", :action => "new", :course_id => @course.id, :assign_type => "normal"}, class: "btn btn-primary btn-block" %>
      <%= link_to 'Create Khan Assignment', {:controller => "assignments", :action => "new", :course_id => @course.id, :assign_type => "khan"}, class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>
