<div class="row-fluid">
<div class="col-md-1"></div>
<div class="col-md-4">
    <h1 style="font-size:25px"><%= @assignment.name %></h1>

    <p><strong>Assignment Name: </strong><%= @assignment.name %></p> 
    <p><strong>Description: </strong><%= @assignment.description %></p>
    <% if @assignment.khan_exercise != nil %>
      <p><strong>Link: </strong><a href="<%= @assignment.khan_exercise %>"><%= @assignment.khan_exercise %></a></p>
    <% end %>
    <p><strong>Due date: </strong><%= @assignment.due_date %></p>
    <%= image_tag @assignment.image %><br><br>
    <% if current_user.teacher? %>
      <%= link_to 'Edit', edit_assignment_path(@assignment), class: "btn btn-primary" %>
      <%= link_to 'Delete Assignment', assignment_path(@assignment), method: :delete, data: { confirm: 'Are you sure you wish to delete this assignment?' }, class: "btn btn-danger" %>
    <% end %>
    <% if current_user.student? %>
      <%= link_to 'Submit Assignment', {:controller => "submissions", :action => "edit", assignment_id: @assignment.id}, class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'Back to Course', course_path(@course), class: "btn btn-primary" %>
  </div>
  <div class="col-md-6">
    <% if current_user.teacher? %>
      <% incomplete = false %>
      <% pending = false %>
      <% complete = false %>
      <% @assignment.submissions.each do |s| %>
        <% incomplete = !incomplete if (s.status == "Incomplete" && !incomplete) %>
        <% pending = !pending if (s.status == "Pending" && !pending) %>
        <% complete = !complete if (s.status == "Complete" && !complete) %>
      <% end %>

      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["F2A6A7"] if incomplete && !pending && !complete%>
      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["F2A6A7", "FCF3BD"] if incomplete && pending && !complete%>
      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF", "F2A6A7"] if incomplete && !pending && complete%>
      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["FCF3BD"] if !incomplete && pending && !complete%>
      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF", "FCF3BD"] if !incomplete && pending && complete%>
      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF"] if !incomplete && !pending && complete%>
      <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF", "F2A6A7", "FCF3BD"] if incomplete && pending && complete%>
    <% end %>
  </div>
</div>
