<h1 style="font-size:25px;text-align:center">Login</h1>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<div class="form">
				<%= form_for(:session, url: "/login") do |f| %>
					<div class="form-group">
						<label for="email">Email</label>
				  	<%= f.email_field :email, id: "email", :placeholder => "Email", class: "form-control" %>
				  </div>
				  <div class="form-group">
				  	<label for="password">Password</label>
				  	<%= f.password_field :password, id: "password", :placeholder => "Password", class: "form-control" %>
				  </div>
				  <div class="form-group">
				  	<%= f.submit "Log in", class: "btn btn-primary btn-block" %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>