<div class="container-fluid">
<div class="row-fluid">
  <div>
    <h1 style="font-size:25px"><%= @course.name %></h1>
    <p>
    <strong>Code:</strong>
    <%= @course.code %>
    </p>
    <p>
    <strong>Name:</strong>
    <%= @course.name %>
    </p>
    <p>
    <strong>Description:</strong>
    <%= @course.description %>
    </p>
    <br>
    <div class=" table-responsive">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th bgcolor="F2F2F2">Students</th>
          <% @course.assignments.each do |a| %>
            <th bgcolor="F2F2F2"><%= link_to a.name, assignment_path(a) %></th>
          <% end %>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% if user.role == "student" %>
            <tr>
              <td bgcolor="F2F2F2"><%= user.username %></td>
              <% @course.assignments.each do |a| %>
                <% user.submissions.each do |s| %>
                  <% if s.assignment == a %>
                    <% case s.status
                    when "Incomplete" %> <td class="danger"><%= s.status %></td>
                    <% when "Pending" %> <td class="warning"><%= s.status %></td>
                    <% when "Complete" %> <td class="success"><%= s.status %></td>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
            <% end %>
          <% end %>
          <tr>
            <td bgcolor="F2F2F2">Average:</td>
            <% @course.assignments.each do |a| %>
              <% count = 0.0 %>
              <% a.submissions.each do |s| %>
                <% if s.status == "Complete" %>
                  <% count+=1.0 %>
                <% end %>
              <% end %>
              <% total = (count/a.submissions.size*100).floor %>
              <% case total
              when 0..49 %> <td class="danger"><%= total %>%</td>
              <% when 50..99 %> <td class="warning"><%= total %>%</td>
              <% when 100 %> <td class="success"><%= total %>%</td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary"%>
    <%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure you wish to delete this course?' }, class: "btn btn-danger" %> 
    <%= link_to 'Back', courses_path, class: "btn btn-default"%>
  </div>
</div>
</div>
