<%= javascript_include_tag "users" %>
<% provide(:title, "Edit User") %>
<h1 style="font-size:25px;text-align:center">Update your account</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="form">
        <%= form_for(@user, :validate => true, :url => { :controller => "users", :action => "update"}) do |f| %>
          <div class="form-group">
            <label for="first_name">First Name</label>
            <%= f.text_field :first_name, id: "first_name", :placeholder => "First Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <%= f.text_field :last_name, id: "last_name", :placeholder => "Last Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <%= f.email_field :email, id: "email", :placeholder => "Email", class: "form-control" %>
            <div class="field_with_errors"><label id="update-email-error" class="message" for="email"></label></div>

          </div>
          <div class="form-group">
            <%= f.submit "Save Changes", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <%= link_to "Delete Account", "/delete", method: "delete", data: { confirm: 'Are you sure you wish to delete your account?'}, class: "btn btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>
