<%= javascript_include_tag "sessions" %>
<% flash.first do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %> </div>
<% end %>

<h1 style="font-size:25px;text-align:center">Login</h1>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-md-4 col-md-offset-4">
			<div class="form">
				<%= form_for(:session, url: "/login") do |f| %>
					<div class="form-group">
						<label for="email">Email</label>
				  	<%= f.email_field :email, id: "email", :placeholder => "Email", class: "form-control" %>
                    <div class="field_with_errors"><label id="login-email-error" class="message" for="email"></label></div>
				  </div>
				  <div class="form-group">
				  	<label for="password">Password</label>
				  	<%= f.password_field :password, id: "password", :placeholder => "Password", class: "form-control" %>
                    <div class="field_with_errors"><label id="login-password-error" class="message" for="password"></label></div>
				  </div>
				  <div class="form-group">
				  	<%= f.submit "Log in", class: "btn btn-primary btn-block", id: "submit-button" %>
				  </div>
				<% end %>
			</div>
		</div>
	</div>
</div>
