<% if current_user.teacher? %>
  <%# If the user is a teacher %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-md-12">
        <h1 style="font-size:25px"><%= @course.name %></h1>
        <p>
        <strong>Code:</strong>
        <%= @course.code %>
        </p>
        <p>
        <strong>Name:</strong>
        <%= @course.name %>
        </p>
        <p>
        <strong>Description:</strong>
        <%= @course.description %>
        </p>
        <%= link_to 'Back', root_path, class: "btn btn-default"%>
        <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary"%>
        <%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure you wish to delete this course?' }, class: "btn btn-danger" %> 
        <br><br>
        <div class=" table-responsive">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <th bgcolor="F2F2F2">Students</th>
              <% @assignments.each do |a| %>
                <th bgcolor="F2F2F2"><%= link_to a.name, assignment_path(a) %></th>
              <% end %>
            </thead>
            <tbody>
              <% @enrolled_students.each do |user| %> 
                <tr>
                  <td bgcolor="F2F2F2"><%= user.username %></td>
                  <% @assignments.each do |a| %>
                    <% user.submissions.each do |s| %>
                      <% if s.assignment == a %>
                        <% case s.status
                        when "Incomplete" %> <td class="danger"><%= link_to s.status, {:controller => "submissions", :action => "show", :submission_id => s.id} %></td>
                      <% when "Complete" %> <td class="success"><%= link_to s.status, {:controller => "submissions", :action => "show", :submission_id => s.id} %></td>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                </tr>
              <% end %>
              <tr>
                <td bgcolor="F2F2F2">Average:</td>
                <% @assignments.each do |a| %>
                  <% count = 0.0 %>
                  <% a.submissions.each do |s| %>
                    <% if s.status == "Complete" %>
                      <% count+=1.0 %>
                    <% end %>
                  <% end %>
                  <% if a.submissions.size != 0 %>
                    <% total = (count/a.submissions.size*100).floor %>
                    <% case total
                    when 100 %> <td class="success"><%= total %>%</td>
                  <% when 50..99 %> <td class="warning"><%= total %>%</td>
                  <% when 0..49 %> <td class="danger"><%= total %>%</td>
                  <% end %>
                <% else %>
                  <td>0%</td>
                <% end %>
              <% end %>
              </tr>
            </tbody>
          </table>
        </div>
          <%= link_to 'Assignment List', {:controller => "assignments", :action => "index", :course_id => @course.id }, class: "btn btn-primary" %>
          <%= link_to 'Manage Student',{:controller => "course_students", :action => "show_students", :course_id => @course.id}, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% else %>
  <%# If the user is a student %>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12 col-md-6 col-md-offset-3"> 
        <h1 style="font-size:25px"><%= @course.name %></h1>
        <p>
        <strong>Code:</strong>
        <%= @course.code %>
        </p>
        <p>
        <strong>Name:</strong>
        <%= @course.name %>
        </p>
        <p>
        <strong>Description:</strong>
        <%= @course.description %>
        </p>
        <table class="table">
          <tr>
            <th>Assignment</th>
            <th>Due date</th>
            <th>Status</th>
          </tr>
          <% @assignments.each do |a| %>
            <tr>
              <td><%= link_to a.name, {:controller => "assignments", :action => "show", :id => a.id} %></td>
              <td><%= a.due_date %></td>
              <% current_user.submissions.each do |s| %>
                <% if s.assignment == a%>
                  <% if s.status == "Complete" %>
                    <td class="success"><%= link_to s.status, {:controller => "submissions", :action => "show", :id => s.id} %></td>
                  <% else %>
                    <td class="danger"><%= link_to s.status, {:controller => "submissions", :action => "edit", assignment_id: a.id} %></td>
                  <% end %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
        <%= link_to 'Back', root_path, class: "btn btn-default"%>
      </div>
    </div>
  </div>
<% end %>
