<h1 style="font-size:25px;text-align:center">Submit Assignment</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= form_for(@submission, :url => { :controller => "submissions", :action => "update", assignment_id: @submission.assignment.id, submission_state: @submission_state, id: @submission.id }) do |f| %>
        <div class="form-group">
          <% if @submission.assignment.khan_exercise && !@submission.assignment.khan_exercise.empty? %>
            <%= link_to "Connect to Khan Academy", new_api_path(assignment_id: @submission.assignment.id),  method: "get", class: "btn btn-success" %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.file_field :image %>
        </div>

        <div class="form-group">
          <label for="comment">Comment</label>
          <%= f.text_area :comment, id: "comment", :placeholder => "comment", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary btn-block"%>
        </div>
        <div class="form-group">
          <%= link_to 'Back', @submission.assignment, class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
