<div class="container">
 <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">
          Submission 
          <div class="pull-right"><small>Status: </strong><%= @submission.status %></small></div>
        </h2>
        <p><b>Course </b><%= link_to @submission.assignment.course.name, course_path(@submission.assignment.course) %></p>
        <p><b>Assignment </b><%= link_to @submission.assignment.name, assignment_path(@submission.assignment) %></p>
        <p><b>Student </b><%= @submission.user.first_name %> <%= @submission.user.last_name %></p>
        <% if @submission.image.file? %>
          <h3>Image</h3>
          <%= image_tag @submission.image %>
        <% end %>
        <p><strong>Comment: </strong></p><%= @submission.comment %>
    </div>
  </div>
</div>
