<div class="container-fluid">
  <div class="row-fluid">
  	<div class="col-xs-12 col-md-12 col-md-offset-0">
		<h1>Students</h1>
		<h3>These are the details of your students</h3>
		<p><%# @hash_1 %><p>
		<% @user_api1.each do |student| %>
			<div class='panel panel-default panel-body col-md-4'>
				<%= image_tag("#{student["avatar_url"]}", width:"50" , height:"50", :style => "float :right;border 1px solid #00000;") %>
				<br>
				<b> Name: </b>
					<p><%= student['nickname'] %><p>
				<b> Proficient Exercises: </b>
					<p><%= student['proficient_exercises']%></p>
				<b> Points: </b>
					<p><%= student['points']%></p>
			</div>
		<% end %>

	</div>
 </div>
</div>