<div class="container-fluid">
  <div class="row-fluid">
  	<div class="col-xs-12 col-md-4 col-md-offset-4">
		<h1>Authenticate with Khan</h1>
		<p>Click the link below to login using your khan account.</p>
		<ul>
			<%= link_to 'Login', '/auth/khan_academy', class: "btn btn-info btn-block" %>
		</ul>
	</div>
 </div>
</div>