<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        My Courses
      </h1>        
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">

          <table class="table">
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Description</th>
              <th>link</th>
            </tr>

            <% @courses.each do|course| %>
            <tr>
               <td><%= course.code %></td>
               <td><%= course.name %></td>
               <td><%= course.description %></td>
               <td><%= link_to 'info', course_path(course) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      <% if current_user.teacher? %>
      <%= link_to 'New Course', new_course_path, class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
