<% if current_user.teacher? %>
  <%# If the user is a teacher %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <%= @course.code %>: <%= @course.name %> 
          <div class="pull-right">
            <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary"%>
            <%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure you wish to delete this course?' }, class: "btn btn-danger" %>
          </div> 
        </h1>
        <p><strong>Description: </strong><%= @course.description %></p>
        <%= link_to 'Assignment List', {:controller => "assignments", :action => "index", :course_id => @course.id }, class: "btn btn-default" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">
          Dashboard
          <div class="pull-right">
            <%= link_to 'Enrollments',{:controller => "course_students", :action => "show_students", :course_id => @course.id}, class: "btn btn-default" %>
          </div>
        </h2>
        <div class=" table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="active">Students</th>
                <% @assignments.each do |a| %>
                  <th class="active"><%= link_to a.name, assignment_path(a) %></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @enrolled_students.each do |user| %> 
                <tr>
                  <td class="active"><%= user.last_name+", "+user.first_name %></td>
                  <% @assignments.each do |a| %>
                    <% s = user.submissions.where("assignment_id == #{a.id}").first %>
                    <% case s.status when "Not Yet Started" %> 
                      <td class="danger"><%= link_to s.status, {:controller => "submissions", :action => "show", :id => s.id} %></td>
                    <% when "Started" %> 
                      <td class="warning"><%= link_to s.status, {:controller => "submissions", :action => "show", :id => s.id} %></td>
                    <% when "Complete" %> 
                      <td class="success"><%= link_to s.status, {:controller => "submissions", :action => "show", :id => s.id} %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
              <td class="active"><b>Average</b></td>
              <% @assignments.each do |a| %>
                <% count = 0.0 %>
                <% a.submissions.each do |s| %>
                  <% if s.status == "Complete" && s.user.in?(@enrolled_students) %>
                    <% count+=1.0 %>
                  <% end %>
                <% end %>
                <% if @enrolled_students.size != 0 %>
                  <% total = (count/@enrolled_students.size*100).floor %>
                  <% case total when 100 %>
                    <td class="success"><b><%= total %>%</b></td>
                  <% when 50..99 %>
                    <td class="warning"><b><%= total %>%</b></td>
                  <% when 0..49 %>
                    <td class="danger"><b><%= total %>%</b></td>
                  <% end %>
                <% else %>
                  <td>0%</td>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>      
    </div>
  </div>
  </div>
<% else %>
  <%# If the user is a student %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          <%= @course.code %>: <%= @course.name %> 
        </h1>
        <p><strong>Description: </strong><%= @course.description %></p>          
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">
          Assignment List
        </h2>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <th>Assignment</th>
              <th>Due date</th>
              <th>Status</th>
            </thead>
            <% @assignments.each do |a| %>
              <tr>
                <td><%= link_to a.name, {:controller => "assignments", :action => "show", :id => a.id} %></td>
                <td><%= a.due_date %></td>
                <% current_user.submissions.each do |s| %>
                  <% if s.assignment == a%>
                    <% case s.status
                    when "Not Yet Started" %> <td class="danger"><%= link_to s.status, {:controller => "submissions", :action => "edit", :id => s.id, :assignment_id => a.id} %></td>
                  <% when "Started" %> <td class="warning"><%= link_to s.status, {:controller => "submissions", :action => "edit", :id => s.id , :assignment_id => a.id} %></td>
                  <% when "Complete" %> <td class="success"><%= link_to s.status, {:controller => "assignments", :action => "show", :id => a.id} %></td>
                  <% end %>
                <% end %>
              <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
