<div class="container">
  <div class="row">
    
    <h1 class="page-header">
      <%= @course.code %>: <%= @course.name %> Assignments
      <div class=" pull-right dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Create Assignment
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to 'Normal Assignment', {:controller => "assignments", :action => "new", :course_id => @course.id, :assign_type => "normal"} %></li>
          <li><%= link_to 'Khan Academy Assignment', {:controller => "assignments", :action => "new", :course_id => @course.id, :assign_type => "khan"} %></li>
        </ul>
      </div>
    </h1>

    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Type</th>
                <th>Assignment</th>
                <th>Due date</th>
                <th>Description</th>
                <th>View</th>
              </tr>
            </thead>

            <% @assignments.each do |assignment| %>
              <tr>
                <% if assignment.khan_exercise %>
                  <td>Khan</td>
                <% else %>
                  <td>Normal</td>
                <% end %>
                <td><%= assignment.name %></td>
                <td><%= assignment.due_date %></td>
                <td><%= assignment.description %></td>
                <td><%= link_to 'View', assignment_path(assignment) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
