<h1 style="font-sie:25px;text-align:center"> Create Assignment</h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4"> 
      <div class="form">
          <%= form_for(@assignment, :validate => true, :url => {:controller => "assignments", action: "create", course_id: @course.id, assign_type: @type}) do |f| %>
          <% if @type == "normal" %>
            <div class="form-group">
              <label for="name">Assignment Name</label>
              <%= f.text_field :name, id: "name", :placeholder => "Name", class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <%= f.text_field :description, id: "description", :placeholder => "Description", class: "form-control" %>
            </div>
          <% end %>
          <% if @type == "khan" %>
            <div class="form-group">
              <label for="name">Choose a Khan Academy Excercise</label><br>
              <%= f.autocomplete_field :khan_exercise, autocomplete_khan_exercise_name_assignments_path %>
            </div>
          <% end %>
          <div class="form-group">
            <label for="due_date">Due Date</label>
              <div class="input-group date" id='due_date'>
              <%= f.text_field :due_date, id: "due_date", :placeholder => "Due_date", class: "form-control" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
              </div>
          <div class="field_with_errors"><label id="due_date_error" class="message"></label></div>
          </div>

          <div class="form-group">
          <%= f.file_field :image %>
        </div>
        
          <div class="form-group">
            <%= f.submit "Create", class: "btn btn-primary btn-block" %>
          </div>
          <div class="form-group">
            <%= link_to 'Back', assignments_path(course_id: @course.id), class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#due_date').datetimepicker({
        format: 'LLL',
        minDate: new Date()
      });
     $('#due_date').focusout(function () {
       if ($(this).data('DateTimePicker').date() === null) {
         $('#due_date_error').text("is invalid date");
        } else {
         $('#due_date_error').text("");
        }
     });
  });
</script>
