<h1 style="font-sie:25px;text-align:center"> Create Assignment</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4"> 
      <div class="form">
      <%= form_for :assignment, url: assignments_path do |f| %>
        
        <div class="form-group">
          <label for="name">Assignment Name</label>
          <%= f.text_field :name, id: "name", :placeholder => "Name", class: "form-control" %>
        </div>

        <!-- INSERT KHAN ACADEMY COURSE DROPDOWN HERE!!!! -->
	 
        <div class="form-group">
          <label for="description">Description</label>
          <%= f.text_field :description, id: "description", :placeholder => "Description", class: "form-control" %>
        </div>


        <div class="form-group">
          <label for="due_date">Due Date</label>
          <%= f.text_field :due_date, id: "due_date", :placeholder => "Due_date", class: "form-control" %>
        </div>

	<div class="form-group">
	  <%= f.submit "Create", class: "btn btn-primary btn-block" %>
        </div>

	<div class="form-group">
	  <%= link_to 'Back', assignments_path, class: "btn btn-default" %>
        </div>
      <% end %>
     
      </div>
    </div>
  </div>
</div>








<!-- OLD WAY OF DOING IT
      <%= form_for :assignment, url: assignments_path do |f| %>
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>
  
        <p><%= f.label:Khan_Academy_Course %></p>
        <select><% @kcourses.each do |a| %>
	  <option><%= a["display_name"] %></option>
         <% end %></select>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :due_date %><br>
    <%= f.text_field :due_date, 
                     :class => 'datepicker', 
                     :size => 10, 
                     :maxlength => 10
    %> 
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

END OLD WAY OF DOING IT-->


