<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <%= @assignment.name %>
        <div class="pull-right">
          <% if current_user.teacher? %>
            <%= link_to 'Edit', edit_assignment_path(@assignment), class: "btn btn-primary" %>
            <%= link_to 'Delete', assignment_path(@assignment), method: :delete, data: { confirm: 'Are you sure you wish to delete this assignment?' }, class: "btn btn-danger" %>
          <% elsif current_user.student? %>
            <%= link_to 'Submit', {:controller => "submissions", :action => "edit", assignment_id: @assignment.id, id: @assignment.submissions.where(user_id:current_user.id).first.id}, class: "btn btn-primary" %>
          <% end %>
        </div>
      </h1>
      <p><strong>Due: </strong><%= @assignment.due_date %></p>
      <p><strong>Description: </strong><%= @assignment.description %></p>
      <% if @assignment.khan_exercise != nil %>
        <p><strong>Link: </strong><a href="<%= @assignment.khan_exercise %>"><%= @assignment.khan_exercise %></a></p>
      <% end %>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-5">  
      <% if @assignment.image.file? %>
      <h3>Image</h3>      
        <%= image_tag @assignment.image, {:class => "img-responsive"} %>
      <% end %>
    </div>

    <% if current_user.teacher? %>
    <div class="col-md-7">
      <h3 class="text-center">Overall Completion Rate</h3>
      <% not_yet_started = false %>
      <% started = false %>
      <% complete = false %>
     <% @assignment.submissions.each do |s| %>
      <% not_yet_started = !not_yet_started if (s.status == "Not Yet Started" && !not_yet_started) %>
      <% started = !started if (s.status == "Started" && !started) %>
      <% complete = !complete if (s.status == "Complete" && !complete) %>
    <% end %>
<%= pie_chart @assignment.submissions.group(:status).count, colors: ["F2A6A7"] if not_yet_started && !started && !complete%>
    <%= pie_chart @assignment.submissions.group(:status).count, colors: ["F2A6A7", "FCF3BD"] if not_yet_started && started && !complete%>
    <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF", "F2A6A7"] if not_yet_started && !started && complete%>
    <%= pie_chart @assignment.submissions.group(:status).count, colors: ["FCF3BD"] if !not_yet_started && started && !complete%>
    <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF", "FCF3BD"] if !not_yet_started && started && complete%>
    <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF"] if !not_yet_started && !started && complete%>
    <%= pie_chart @assignment.submissions.group(:status).count, colors: ["C2F0BF", "F2A6A7", "FCF3BD"] if not_yet_started && started && complete%>
  </div>
    <% end %>
  </div>

  <% if current_user.student? %>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">
          Your submission 
          <div class="pull-right"><small>Status: </strong><%= @assignment.submissions.where("user_id == #{current_user.id}").first.status %></small></div>
        </h2>
        <% if @assignment.submissions.where(user_id:current_user.id).first.image.file? %>
          <h3> Submitted Image </h3>
          <%= image_tag @assignment.submissions.where(user_id:current_user.id).first.image, {:class => "img-responsive"} %>
        <% end %>
        <p><strong>My comment: </strong></p><%= @assignment.submissions.where(user_id:current_user.id).first.comment %>
      </div>
    </div>
  <% end %>
  
  <%= link_to 'Back to ' + @course.name, course_path(@course), {:style=>"margin-top:20px", :class=>"btn btn-primary"} %>
</div>
