<h1 style="font-size:25px; text-align:center">Students</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <table class="table">
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Manage</th>
        <tr>

        <% @enrolled_students.each do |student| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
          <td><%= link_to 'remove', {:controller => "course_students", :action => "remove_students", :student_id => student.id, :course_id => @course.id} %></td>
        </tr>
        <% end %>
      </table>

      <table class="table">
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Manage</th>
        </tr>

        <% @unenrolled_students.each do |student| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
          <td><%= link_to 'add', {:controller => "course_students", :action => "add_students", :student_id => student.id, :course_id => @course.id} %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
