<h1 style="font-size:25px;text-align:center">Submit Assignment</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= form_for(@submission, :url => { :controller => "submissions", :action => "update", assignment_id: @assignment.id}) do |f| %>
        <div class="form-group">
          <label for="status">Status</label>
          <br>
          <%= f.select :status, ['Complete', 'Incomplete'] %>
        </div>
        <div class="form-group">
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary btn-block"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
