<div class="row-fluid">
<div class="col-md-1">
</div>
<div class="col-md-4">
  <h1 style="font-size:25px"><%= @submission.assignment.name %></h1>

  <p><strong>Status: </strong><%= @submission.status %></p> 
  <%= image_tag @submission.image %>
  <br><br>
  <%= link_to 'Back to Assignment', assignment_path(@submission.assignment), class: "btn btn-primary" %>
  <%= link_to 'Back to Course', course_path(@submission.assignment.course), class: "btn btn-primary" %>
</div>
</div>
