<h1 style="font-size:25px;text-align:center">Edit <%= @assignment.name %></h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">

      <%= form_for :assignment, url: assignment_path(@assignment), method: :patch do |f| %>

        <% if @assignment.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@assignment.errors.count, "error") %> prohibited
              this assignment from being saved:
            </h2>
            <ul>
              <% @assignment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label for="name">Name</label>
          <%= f.text_field :name, id: "name", :placeholder => "Name", class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <%= f.text_field :description, id: "description", :placeholder => "Description", class: "form-control" %>
        </div>

        <div class="form-group">
          <label for="due_date">Due Date</label>
          <%= f.text_field :due_date, id: "due_date", :placeholder => "Due date", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        </div>

      <% end %>
      <%= link_to 'Back', assignment_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
</div>
