<h1 style="font-size:25px;text-align:center">All Assignments</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4"> 
      <table class="table">
        <tr>
           <th>Assignment</th>
           <th>Due date</th>
           <th>Description</th>
           <th>View</th>
         <th>Edit</th>
        </tr>
 
        <% @assignment.each do |assignment| %>
        <tr>
           <td><%= assignment.name %></td>
           <td><%= assignment.due_date %></td>
           <td><%= assignment.description %></td>
           <td><%= link_to 'View', assignment_path(assignment) %></td>
           <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        </tr>
        <% end %>
     </table>

     <p><%= link_to 'New Assignment', new_assignment_path, class: "btn btn-primary btn-block" %></p>
   </div>
 </div>
</div>
