<h1 style="font-sie:25px;text-align:center"> Create Assignment</h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4"> 
      <div class="form">
        <%= form_for(@assignment, :url => {:controller => "assignments", action: "create", course_id: @course.id, assign_type: @type}) do |f| %>
          <% if @type == "normal" %>
            <div class="form-group">
              <label for="name">Assignment Name</label>
              <%= f.text_field :name, id: "name", :placeholder => "Name", class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <%= f.text_field :description, id: "description", :placeholder => "Description", class: "form-control" %>
            </div>
          <% end %>
          <% if @type == "khan" %>
            <div class="form-group">
              <label for="name">Choose a Khan Academy Excercise</label>
              <%= f.select :khan_exercise, @khan_exercises %>
            </div>
          <% end %>
          <div class="form-group">
            <label for="due_date">Due Date</label>
            <%= f.text_field :due_date, id: "due_date", :placeholder => "Due_date", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Create", class: "btn btn-primary btn-block" %>
          </div>
          <div class="form-group">
            <%= link_to 'Back', assignments_path, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
