<h1 style="font-size:25px; text-align:center">Enrolled</h1>

<div class="container">
  <div class="row-fluid">
      <table class="table table-striped">
        <tr>
          <th>Role</th>
          <th>LastName</th>
          <th>FirstName</th>
          <th>Email</th>
          <th>Manage</th>
        <tr>

        <% @enrolled_users.each do |user| %>
        <tr>
          <th><%= user.role %></th>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
            <td> 
              <% if user.role == "Teacher" &&  @teachers > 1 %>
                <%= link_to 'remove', {:controller => "course_students", :action => "remove_students", :student_id => user.id, :course_id => @course.id} %>
              <% else %>
                <% if user.role == "Student" %>
                  <%= link_to 'remove', {:controller => "course_students", :action => "remove_students", :student_id => user.id, :course_id => @course.id} %>
                <% end %>
              <% end %>
            </td>
        </tr>
        <% end %>
      </table>
<h1 style="font-size:25px; text-align:center">Unenrolled</h1>
      <table class="table table-striped">
        <tr>
          <th>Role</th>
          <th>LastName</th>
          <th>FirstName</th>
          <th>Email</th>
          <th>Manage</th>
        </tr>

        <% @unenrolled_users.each do |user| %>
        <tr>
          <th><%= user.role %></th>
          <td><%= user.last_name %></td>
          <td><%= user.first_name %></td>
          <td><%= user.email %></td>
          <td><%= link_to 'add', {:controller => "course_students", :action => "add_students", :student_id => user.id, :course_id => @course.id} %></td>
        </tr>
        <% end %>
      </table>
      <%= link_to 'Back', course_path(:id => @course.id), class: "btn btn-default" %>
    </div>
  </div>


