<% provide(:title, "Edit user") %>
<h1>Update your account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, :url => { :controller => "users", :action => "update"}) do |f| %>
    <%= f.text_field :first_name, :placeholder => "First name" %>
    <%= f.text_field :last_name, :placeholder => "Last name" %>
    <%= f.email_field :email, :placeholder => "Email" %>
    <%= f.submit "Save changes", class: "btn btn-primary"%>
    <% end %>
    <%= link_to "Delete Account", "/delete", method: "delete" %>
  </div>
</div>