<h1 style="font-size:25px;text-align:center">Sign Up</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= form_for(@user, :url => { :controller => "users", :action => "create" }, :html => {:class => "form-horizontal"}) do |f| %>
        <div class="form-group">
          <label for="username">Username</label>
          <%= f.text_field :username, id: "username", :placeholder => "Username", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="first_name">First Name</label>
          <%= f.text_field :first_name, id: "first_name", :placeholder => "First Name", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <%= f.text_field :last_name, id: "last_name", :placeholder => "Last Name", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <%= f.email_field :email, id: "email", :placeholder => "Email", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <%= f.password_field :password, id: "password", :placeholder => "Password", class: "form-control" %>
        </div>
        <div class="form-group">
          <label for="passwordconfirmation">Password Confirmation</label>
          <%= f.password_field :password_confirmation, id: "passwordconfirmation", :placeholder => "Password Confirmation", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Create an account", class: "btn btn-primary btn-block"%>
        </div>
      <% end %>
    </div>
  </div>
</div>