<h1 style="font-size:25px;text-align:center">Edit <%= @course.name %></h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="form">
        <%= form_for :course, url: course_path(@course), method: :patch do |f| %>
          <% if @course.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@course.errors.count, "error") %></h2>
              <ul>
                 <% @course.errors.full_messages.each do |msg| %>?
                   <li><%= msg %></li>
                 <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label for="code">Code</label>
            <%= f.text_field :code, id: "code", :placeholder => "Code", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <%= f.text_field :name, id: "name", :placeholder => "Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <%= f.text_area :description, id: "description", :placeholder => "Description", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Update", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <%= link_to 'Back', courses_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>