<h1 style="font-size:25px;text-align:center">Create Course</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="form">
        <%= form_for(@course) do |f| %>
          <% if @course.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@course.errors.count, "error") %> prohibited
                this article from being saved:
              </h2>
              <ul>
                <% @course.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <label for="code">Code</label>
            <%= f.text_field :code, id: "code", :placeholder => "Code", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <%= f.text_field :name, id: "name", :placeholder => "Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <%= f.text_area :description, id: "description", :placeholder => "Description", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Create", class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
        <%= link_to 'View All Courses', controller: 'courses' %>
      </div>
    </div>
  </div>
</div>