<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-xs-12 col-md-4">
    	<h1 style="font-size:25px"><%= @course.name %></h1>
      <p>
			  <strong>Code:</strong>
			  <%= @course.code %>
			</p>
			<p>
			  <strong>Name:</strong>
			  <%= @course.name %>
			</p>
			<p>
			  <strong>Description:</strong>
			  <%= @course.description %>
			</p>
			<%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary"%>
			<%= link_to 'Delete', @course, method: :delete, data: { confirm: 'Are you sure you wish to delete this course?' }, class: "btn btn-danger" %> 
			<%= link_to 'Back', courses_path, class: "btn btn-default"%>
    </div>
  </div>
</div>
